
  <div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
          <div style="font-size: 1.5em;" class="nav-bar-items">
            <button data-text="Awesome" class="button">
              <span class="actual-text">&nbsp;A.P.S&nbsp;</span>
              <span class="hover-text" aria-hidden="true">&nbsp;A.P.S&nbsp;</span>
          </button>
          </div>
        </div>
        <div id="nav-bar-right">         
          <ng-container *ngIf="router.url === '/postfeed'">           
            <button (click)="onStartBackClick()" mat-flat-button color="warn">Back</button>
          </ng-container>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>



